{% extends "base.html" %}
{% block content %}
    

    
        <h2>Build a Blog</h2>
        
        
        {%if blogs|length == 0%}
        <p>No Blogs yet</p>

        {%else%}
        <ul>
          {% for blog in blogs %}
        
      
            <form action="POST" method="post" value={{blog.id}}>
                <li><h2><a href="/newpost?id={{blog.id}}"> {{blog.title}}</a></h2>
                <p>{{blog.body}}</p></li>

                
            <!--<input type="error" name="title_error" value="{{ id }}"/>-->
        
            </form>
        
          {% endfor %}
        {%endif%}
        </ul>
        

        
        
        
        
         
        
{% endblock %}



  