{% extends "base.html" %}
{% block content %}
    

    
        <h2>Build a Blog</h2>
        <ul>
        {% for title in titles %}
        <li>
            <form action="add_title" method="post">
            {{ blog.title }}
            <input type="error" name="title_error" value="{{ blog.id }}"/>
        
            </form>
        </li>
        {% endfor %}
        </ul>
        

        
        
        
        
          {% for title in get_current_titles %}
            <li>
              <form action="/ratings" method="post">
                {{ title.Blog }}
                <input type="hidden" name="ra" value="{{ movie.id }}"/>
                <input type="submit" value="I Watched it!"/>
              </form>
            </li>
          {% endfor %}
        
        {% if error %}
          <p class='error'>{{ error }}</p>
        {% endif %}
        
{% endblock %}



  